@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body, html {
  overflow:hidden;
  margin: 0;
  height: 100%;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #FFF;
  
}

.color {
 width: 20%;
 height: 100%;
 position: relative;
 float: left;
}

.color p {
  z-index: 1;
  text-align:center;
  padding: 0;
  line-height: 90vh;
  vertical-align:middle;
}

.sky {
  height: 100%;
  color: #FFF;
  display: block;
}



#audio {
  position: relative;
  /* height: 100px; */
  align-items: center;
  margin-bottom: 4px;
  z-index: 3;
}